.title {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    opacity:0.7;
    color: rgb(95, 174, 205);
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}